{
  "extends": ["airbnb", "plugin:react/recommended", "plugin:prettier/recommended"],
  "plugins": ["react", "import", "prettier", "jsx-a11y"],
  "env": {
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off"
  }
}
